@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li,a,button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #0d0c22;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px ;
}

.logo{
    cursor: pointer;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}


img{
    margin-right: 300px;
}
.btns button{
    padding: 9px 15px;
    border: none;
}
.signup-btn{
    background-color: #0d0c22;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}
.signup-btn:hover {
    background-color: #444;
  }
  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    text-align: center;

  }
 .hero h4{
    margin: 30px;
    padding: 10px 16px;
    background-color: antiquewhite;
    color: #3D3D4E;
    border-radius: 50px;
    font-family: 30px;
 }
 h1{
    margin: 30px;
    font-size: 70px;
 }
 h3{
    margin: 30px;
    font-size: 22px;
 }
 .hero button{
    margin: 30px;
 }
 nav a:hover{
    color:gainsboro
 }
 @media (max-width:1200px) {
    nav{
        display: none;
    }
    .hero h4{
        margin-top: 100px;
    }
    .container{
        display: inline-block;
    }
    .btns{
        display: flex;
       justify-content: flex-end;
       margin-right: 30px;
    }
    
    h1{
        font-size: 60px;
    }
    h3{
        font-size: 18px;
    }
   
    
 }